body {
    background-color: #212121;
    height: 100vh;
    width: 100vw;
}

.title {
    padding-top: 40vh;
    justify-self: center;
}

.description {
    justify-self: center;
}

.chatbot {
    align-self: center;
    justify-self: center;
    height: 80vh;
    width: 50vw;
}

.output {
    padding: 1px;
    height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;
}

.inputarea {
    position: fixed;
    display: flex;
    top: 88%;
    justify-self: center;
    gap: 8px;
    border-radius: 100px;
    border: none;
    width: 30%;
    height: 50px;
    background-color: #303030;
    box-shadow: 5px 5px 15px rgb(0,0,0);
    align-items: center;
    transition: all 1s;
}

.submit {
    flex: 0;
    height: 60%;
    width: 5%;
    padding-top: 7px;
    background-color: #c1c1c1;
    border: none;
    border-radius: 100px;
    margin-right: 10px;
    transition: all 0.1s;
}

.input {
    flex: 1;
    border: none;
    width: 80%;
    background-color: rgba(0,0,0,0);
    resize: none;
    margin-left: 20px;
    color: white
}

.outer {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    float: right;
}

.user {
    float: right;
    max-width: 20%;
    overflow-wrap: anywhere;
}

.user_text {
    padding: 10px;
    width: fit-content;
    border-radius: 1vh;
    background-color: #303030;
    border: none;
    align-items: center;
}

.user_menu {
    float: right;
    display: none;
}

.user_menu_button {
    margin: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.input:focus {
    outline: none;
}

.inputarea:hover {
    width: 35%
}

.submit:hover {
    background-color: #66cf8f;
    padding-top: 3px;
}

.user_text:hover + .user_menu {
    display: block;
}

.user_menu:hover {
    display: block;
}