:root {
    interpolate-size: allow-keywords;
}

body {
    color: #f8f9fa;
    background-color: #1e2125;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
    color: #f8f9fa;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #155ed2;
    border: none;
    border-radius: 50px;
}

.main_div {
    width: 100vw;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    background-color:  #212529;
}

.divisions {
    width: 810px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 60px;
    background-color: #2b3035;
    transition: width 0.5s, margin 0.5s, padding-top 0.5s;
}

.divisions:hover {
    width: 900px;
    margin-top: 40px;
    padding-top: 50px;
}

.div_output::-webkit-scrollbar {
    display: none;
}

.div_output {
    margin-right: 50px;
    margin-left: 50px;
    height: 100px;
    overflow-y: scroll;
    border: 2px solid #f8f9fa;
    border-radius: 5px;
    background-color: #1e2125;
}

.learning {
    width: inherit;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-top: 70px;
    background-color: #2b3035;
    transition: margin-top 0.5s, margin-bottom 0.5s;
}

.learning:hover {
    margin-top: 40px;
    margin-bottom: 40px;
}

details {
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    background-color: #1e2125;
    overflow: hidden;
}

details::details-content {
    block-size: 0;
    transition: block-size 1s;
}

details[open]::details-content {
    block-size: auto;
}